{% extends "layout.html" %}

{% block title %}
    Portfolio
{% endblock %}

{% block main %}
    <table>
        <thead>
            <tr>
                <th>Symbol</th>
                <th>Name</th>
                <th>Shares</th>
                <th>Price</th>
                <th>TOTAL</th>
            </tr>
        </thead>
        <tbody>
            {% for row in data %}
            <tr>
                <td>{{ row["symbol"] }}</td>
                <td>{{ row["symbol"] }}</td>
                <td>{{ row["shares"] }}</td>
                <td>{{ row["price"] | usd }}</td>
                <td>{{ (row["shares"] * row["price"]) | usd }}</td>
            </tr>
            {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <th>CASH</th>
                <td>{{ cash | usd}}</td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <th>TOTAL</th>
                <td>$10,000.00</td>
            </tr>
        </tfoot>
    </table>
{% endblock %}
